{% extends "home/base.html.twig" %}


{% block body %}
    <main>
        <section>
            <article>
                <h1 class="header-h5" style="  padding: 3em;">Tu Oficina S.A</h1>
            </article>
        </section>
        <section>
            <article class="scrollflow -pop -opacity">
                <h2 class="text-font-family scrollflow -slide-right -opacity">Tu Oficina S.A</h2>

                <p class="content-font scrollflow -slide-left -opacity">Somos una empresa chilena, con más de 5 años de
                    trayectoria en el rubro del comercio, contamos con los mejores productos.</p>
            </article>
        </section>
        <section>
            <article>
                <h2 class="scrollflow -slide-top -opacity text-font-family-color">Tu Oficina S.A:</h2>
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="45%" valign="top">
                            <ul class="ul-list scrollflow -slide-top -opacity">
                                <li>
                                    Responsabilidad.
                                </li>
                                <li>
                                    Compromiso con los clientes.
                                </li>
                            </ul>
                        </td>
                </table>
            </article>
        </section>
        <section>
            <article>
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="45%" valign="top">
                            <h2 class="scrollflow -slide-top -opacity text-font-family-color">Misión</h2>

                            <p class="scrollflow -slide-top -opacity">Nuestra misión es ofrecer a nuestros clientes
                                el
                                más
                                alto nivel de servicio, destacando la calidad, eficiencia y responsabilidad, con el
                                fin
                                de
                                alcanzar el prestigio y satisfacción, tanto como para la empresa, como para los
                                clientes.</p>
                        </td>
                        <td>&nbsp;</td>
                        <td width="45%" valign="top">
                            <h2 class="scrollflow -slide-bottom -opacity text-font-family-color">Servicio y
                                Compromiso</h2>

                            <p class="scrollflow -slide-bottom -opacity">Responder de manera oportuna con los
                                compromisos de
                                nuestros clientes para satisfacer las nesecidades, propiciando una relación continua
                                y
                                duradera.</p>
                        </td>
                    </tr>
                </table>
            </article>
        </section>
        {# <section>
             <div class="scrollflow -slide-top" data-scrollflow-start="0" data-scrollflow-distance="90"
                  data-scrollflow-amount="200">&nbsp;</div>
             <article>
                 <h2 class="scrollflow -slide-bottom -opacity" data-scrollflow-start="0"
                     data-scrollflow-distance="90"
                     data-scrollflow-amount="200">Tu Oficina S.A</h2>
             </article>
         </section>#}
        <section>
            <article>
                <h2 class="scrollflow -pop text-font-family-color">Copyright</h2>

                <p class="scrollflow -slide-top -opacity">&nbsp;Tu oficina S.A</p>

                <p class="scrollflow -slide-top -opacity">&nbsp;Author: Steven Delgado Chacón</p>
            </article>
        </section>
    </main>
{% endblock %}