<div class="search-right">
    <input type="text" class="form-control input-sm" maxlength="64" id="input-search"
           placeholder="Asistente de búsqueda"/>
    <button type="submit" class="btn b-absolute btn-bbdo-color btn-sm"><i class="fa fa-search">
        </i></button>
</div>
